
# BUILD ENVIROMNT USING CONDO or PIP (SIX Libraries)

activate base
pip install Keras, scikit-learn, matpolotlib, imutils, and OpenCV 
pip install tensorflow


python train.py --dataset dataset --model seniors.model --labelbin mlb.pickle
python classify.py --model seniors.model --labelbin mlb.pickle --image visitors/visitor_1.jpg